/* 
    Created on : 20-ene-2017, 23:43:43
    Author     : Javier
*/

*, *::before, *::after {
    box-sizing: border-box;
}
.form-control::-moz-placeholder {
    color: #636c72;
    opacity: .5;
}

body  {
    background: #fff none repeat scroll 0 0;
    background: rgba(0, 0, 0, 0) url("/assets/images/bg-blur.jpg") no-repeat fixed center center / cover ;
    color: #222;
    cursor: auto;
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    position: relative;
    color: #888;
}

.login-link{
    position:fixed;
    top:0;
    right:0;
    width:-moz-fit-content;
    width:-webkit-fit-content;
    width:fit-content;
    height:-moz-fit-content;
    height:-webkit-fit-content;
    height:fit-content;
    z-index: 1;
}

.login-link a{
    display:block;
    width:100%;
    height:100%;
    padding:10px 20px;
    border-radius: 0;
}

footer.main-footer{
    bottom: 0;
    width: 100%;
    margin-top:40px;
}

footer .row{
    margin-top:5px;
}

footer .logo{
    height:40px;
}
footer .copy{
    line-height:40px;
}

.card-header{
    font-size:20px;
}

footer.footer-margin-fix{
}

.card {
    margin-top:10px;
}

.margin-top-40{
    margin-top:40px;
}

.carousel img{
    width:100%;
}

.login-card{
    max-width:400px
}


[onclick], button, .btn{
    cursor:pointer;
}

.hidden{
    display:none;
}

.app-link{
    margin-top:20px;
    margin-bottom: 20px;
    font-size: 20px;
}

.img-link:hover{
    text-decoration: none;
}

.custom_sub_msg_register{
    color: #747474;
    padding:15px;
    font-style: italic;
    border-style: dashed;
    border-width: 1px;
    border-color: #999999;
}

.fit-content{
    width:fit-content;
    width:-moz-fit-content;
    width:-webkit-fit-content;
}
.max-content{
    width:max-content;
    width:-moz-max-content;
    width:-webkit-max-content;
}